<h1>All Tours</h1>
<% if @tours %>
  <ul class="list">
    <% @tours.each do |tour| %>
      <li class="list-item"><%= link_to tour.name, tour_path(tour) %></li>
    <% end -%>
  </ul>
<% else %>
  <p>No tours found</p>
<% end -%>
