<h1>All Cities</h1>
<% if @cities %>
  <ul class="list">
    <% @cities.each do |city| %>
      <li class="list-item"><%= link_to city.name, city_path(city) %></li>
    <% end -%>
  </ul>
<% else %>
  <p>No cities found</p>
<% end -%>
